{% extends "index.html" %} {% load static %}
{% block titel %}Login Page{% endblock titel %} 
{% block content %}
<div class="container text-center my-5">
  <h1 class="display-5 my-5">Login</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col">
      <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input name="username" class="form-control" required />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
            required
          />
        </div>
        {% for mess in messages %}
        <div class="alert alert-danger" role="alert">{{mess}}</div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Login</button>
        <p class="py-2">
          Create Account <a href="{% url 'register' %}">Sign Up</a>
        </p>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>

{%endblock content %}
