{% extends "index.html" %} {% load static %} {% block content %}

<div class="container text-center my-5">
  <h1 class="display-6 my-4">{{ user_profile.user.username }} Profile</h1>

  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-outline-success">Edit</button>
    <button type="button" class="btn btn-outline-danger">Delete</button>
  </div>

  <div class="container text-center py-5">
    <div class="row">
      <div class="col">
        <img
          width="200"
          height="200"
          src="{{user_profile.profile_img.url}} "
          alt="user-profile"
          style="border-radius: 50%"
        />
        <h3 class="py-2">{{ user_profile.user.username }}</h3>
      </div>

      <div class="col py-5">
        <h2>{{ user_profile.name }}</h2>
        <p class="fs-5">
          <i class="bi bi-person-fill"></i> {{ user_profile.gender | default:"Gender!" }}
        </p>
        <p class="fs-5">
          <i class="bi bi-geo-alt-fill"></i> {{ user_profile.location | default:"Location!" }}
        </p>
        <p class="fs-5">
          <i class="bi bi-pencil-square"></i> {{ user_profile.bio | default:"Bio!"}}
        </p>
      </div>
    </div>

    <hr class="my-4" />

    <div class="row py-5">
      <div class="col">
        <h3>Quiz Attended</h3>
        <table class="my-5 table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Quiz</th>
              <th scope="col">Mark</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Math Q-1</td>
              <td>99/100</td>
              <td>April 27, 2024</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>DAA</td>
              <td>98/100</td>
              <td>April 28, 2024</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col py-3">
        <h3>Performance</h3>
      </div>
    </div>
  </div>
</div>

{%endblock content %}
