<footer class="footer mt-auto" style="background-color: #111; color: #fff; padding: 40px 0; text-align: center;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="#" class="mx-3" style="color: #fff; text-decoration: none;">HOME</a>
                    <a href="#" class="mx-3" style="color: #fff; text-decoration: none;">AGENT</a>
                    <a href="#" class="mx-3" style="color: #fff; text-decoration: none;">ABOUT</a>
                    <a href="#" class="mx-3" style="color: #fff; text-decoration: none;">LISTING</a>
                    <a href="#" class="mx-3" style="color: #fff; text-decoration: none;">BLOG</a>
                    <a href="#" class="mx-3" style="color: #fff; text-decoration: none;">CONTACT</a>
                </div>
                <div class="col-12 mt-3">
                    <div class="social-icons">
                        <a href="#" style="display: inline-block; overflow: hidden; border-radius: 50%; margin: 0 10px;">
                            <img src="https://cdn-icons-png.flaticon.com/512/2496/2496110.png" alt="Twitter" width="30" style="margin: 0; padding: 0;">
                        </a>
                        <a href="#" style="display: inline-block; overflow: hidden; border-radius: 50%; margin: 0 10px;">
                            <img src="https://img.freepik.com/premium-vector/linkedin-logo_578229-227.jpg" alt="LinkedIn" width="30" style="margin: 0; padding: 0;">
                        </a>
                        <a href="#" style="display: inline-block; overflow: hidden; border-radius: 50%; margin: 0 10px;">
                            <img src="https://cdn0.iconfinder.com/data/icons/social-media-square-4/1024/instagram-512.png" alt="Instagram" width="30" style="margin: 0; padding: 0;">
                        </a>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <p style="color: #888;">
                        Copyright ©2024 All rights reserved | This template is made with ♥
                        by
                        <a href="https://colorlib.com" target="_blank" style="color: #fff;">Colorlib.com</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
